main{
    margin-left: 50px;
    margin-right: 50px;
    background-image: url(picture/pinkish.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

body{ 
    background-image: url(picture/sakura.jpg);
    background-repeat: repeat;
}      

header{
    text-align: center;
    background-color: #f8778b;
    padding: 5px;
    text-align: center;
    font-size: medium;
    color: #162A2C;
    
}
.navbar ul{
    list-style-type: none;
    background-color: #f3c1c4 ;
    padding: 0%;
    margin: 20px;
    overflow: hidden;
    transition: colour 0.2s;
    font-size: large;
}
.navbar a{
    color:#162A2C;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #a5f8c6;
}
.navbar li{
   float: left;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large
}

